body{
  background-image: url(../images/background.svg);
  color: #333333;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.container>.head {
  margin: 20px 0;
  color: #333333;
}

.container>.head>.logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.container>.content {
  background-color: #FFF;
  border: 1px solid #eee;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 40px 10px;
}

.container>.content>div{
  padding: 0 15px;
}
.container>.content .block-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 20px;
  color: #333333;
  position: relative;
}
.container>.content .block-title::before{
  content: "";
  width: 5px;
  height: 80%;
  background-color: #0081ff;
  position: absolute;
  left: 5px;
  top: 3px;
}

.container>.content .func-card {
  padding: 55px 20px;
  box-sizing: border-box;
  width: 420px;
}
.container>.content .func-card.websocket {
  background: url(../images/blue_square.png) no-repeat;
  background-size: 109%;
  background-position: center;
}
.container>.content .func-card.webapi {
  background: url(../images/orange_square.png) no-repeat;
  background-size: 109%;
  background-position: center;
}

.container>.content .func-card p {
  margin: 0;
  margin-bottom: 5px;
}
.container>.content .func-card p.title{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.container>.content .func-card p.sub-title{
  color: #fff;
  font-size: 12px;
}
.container>.content .func-card .btn-area{
  margin-top: 20px;
}

.container>.content .websocket button{
  background-color: rgba(0,129,255,0.5);
  box-shadow: 0px 0px 3px #C7E0FA;
  margin: 5px;
  color: #fff;
}

.container>.content .webapi button{
  background-color: rgba(243,123,29,0.5);
  box-shadow: 0px 0px 3px #f5ddca;
  margin: 5px;
  color: #fff;
}


#process-content{
  width: 100%;
  height: 590px;
  resize: none;
  border: none;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  color: #666;
}
#clean-process {
  background-color: #0081ff;
  color: #fff;
  font-size: 14px;
  width: 360px;
  height: 36px;
  margin-top: 15px;
}


.ID-card, .GAT-card, .WGR-card, .WGR-card-1{
  height: 235px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.ID-card.card-front{
  background-image: url(../images/card_front.png);
  margin-bottom: 20px;
}
.ID-card.card-back{
  background-image: url(../images/card_back.png);
}

.GAT-card.card-hongkong-macao-taiwan-front{
  background-image: url(../images/card-hongkong-macao-taiwan-front.png);
  margin-bottom: 20px;
}
.GAT-card.card-hongkong-macao-back{
  background-image: url(../images/card-hongkong-macao-back.png);
}
.GAT-card.card-taiwan-back{
  background-image: url(../images/card-taiwan-back.png);
}
.WGR-card-1.card-old-foreigner-front{
  background-image: url(../images/card-old-foreigner-front.png);
}
.WGR-card-1.card-old-foreigner-back{
  background-image: url(../images/card-old-foreigner-back.png);
}
.WGR-card.card-new-foreigner-front{
  background-image: url(../images/card-new-foreigner-front.png);
}
.WGR-card.card-new-foreigner-back{
  background-image: url(../images/card-new-foreigner-back.png);
}

#card-front>p{
  margin: 0;
  position: absolute;
  font-size: 13px;
  font-weight: 600;
}

.image{
  position: absolute;
  top: 40px;
  right: 40px;
  width: 100px;
  height: 120px;
}
.image[src=""],.image:not([src]){
  opacity: 0;
}

.ID-card>.name{
  top: 39px;
  left: 90px;
  font-size: 16px;
}
.ID-card>.sex{
  top: 66px;
  left: 90px;
}
.ID-card>.nation{
  top: 66px;
  left: 175px;
}
.ID-card>.year{
  top: 94px;
  left: 90px;
}
.ID-card>.month{
  top: 94px;
  left: 145px;
  width: 25px;
  text-align: center;
}
.ID-card>.date{
  top: 94px;
  left: 183px;
  width: 25px;
  text-align: center;
}
.ID-card>.address{
  top: 121px;
  left: 90px;
  width: 180px;
  text-align: left;
  letter-spacing: 2px;
}
.ID-card>.number{
  top: 190px;
  left: 150px;
  font-size: 15px;
  letter-spacing: 2px;
}
.ID-card>.department{
  bottom: 54px;
  left: 175px;
}
.ID-card>.expiry{
  bottom: 26px;
  left: 175px;
}

.copyright{
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  color: #666;
}
.copyright .copyright-item{
  margin-right: 10px;
}
/*外国人永久居住证--- 旧版*/
.WGR-card-1>.name{
  top: 35px;
  left: 51px;
  font-size: 16px;
}
.WGR-card-1>.sex{
  top: 80px;
  left: 51px;
}

.WGR-card-1>.year{
  top: 80px;
  left: 134px;
}
.WGR-card-1>.month{
  top: 110px;
  left: 51px;
}
.WGR-card-1>.date{
  top: 141px;
  left: 51px;
}
.WGR-card-1>.address{
  top: 172px;
  left: 51px;
  width: 180px;
  text-align: left;
  letter-spacing: 2px;
}
.WGR-card-1>.number{
  top: 205px;
  left: 51px;
  font-size: 15px;
  letter-spacing: 2px;
}

/*外国人永久居住证--- 新版*/
.WGR-card>.name{
  top: 48px;
  left: 51px;
  font-size: 16px;
}
.WGR-card>.enName{
  top: 66px;
  left: 51px;
  font-size: 16px;
}
.WGR-card>.sex{
  top: 102px;
  left: 51px;
}

.WGR-card>.year{
  top: 102px;
  left: 134px;
}
.WGR-card>.month{
  top: 138px;
  left: 51px;
}
.WGR-card>.date{
  top: 176px;
  left: 51px;
}
.WGR-card>.address{
  top: 172px;
  left: 51px;
  width: 180px;
  text-align: left;
  letter-spacing: 2px;
}
.WGR-card>.number{
  top: 210px;
  left: 51px;
  font-size: 15px;
  letter-spacing: 2px;
}



/*港澳台通行证*/
.GAT-card>.name{
  top: 29px;
  left: 90px;
  font-size: 16px;
}
.GAT-card>.sex{
  top: 58px;
  left: 90px;
}
.GAT-card>.year{
  top: 86px;
  left: 90px;
}
.GAT-card>.month{
  top: 86px;
  left: 145px;
  width: 25px;
  text-align: center;
}
.GAT-card>.date{
  top: 86px;
  left: 180px;
  width: 25px;
  text-align: center;
}
.GAT-card>.address{
  top: 118px;
  left: 90px;
  width: 180px;
  text-align: left;
  letter-spacing: 2px;
}
.GAT-card>.number{
  top: 194px;
  left: 150px;
  font-size: 15px;
  letter-spacing: 2px;
}
.GAT-card>.department{
  bottom: 61px;
  left: 185px;
}
.GAT-card>.expiry{
  bottom: 43px;
  left: 185px;
}
.GAT-card>.pass-number{
  bottom: 25px;
  left: 185px;
}
.card-hongkong-macao-back> .expiry{
  bottom: 42px;
}
.card-hongkong-macao-back > .pass-number{
  bottom: 24px;
}
.ID-card>p, .card-hongkong-macao-back>p, .card-taiwan-back>p {
  margin: 0;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
}
